@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --main-blue: #00d4ff;
    --red-nav: #f84545;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: radial-gradient(circle at 50% 50%, #0d1b2a, #000);
    overflow-x: hidden;
}

/* Header */
header {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #1c2541;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-blue);
    font-weight: bold;
}

nav ul li a:hover {
    text-shadow: 0 0 8px var(--main-blue);
}

.page-select {
    color: var(--red-nav);
    font-weight: bold;
}

.page-select:hover {
    text-shadow: 0 0 8px var(--red-nav);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    background: rgb(0, 0, 0, 0.8);
    border-top: 1px solid #1c2541;
    font-size: 0.9rem;
    color: #ffffff;
}

footer a {
    color: #00d4ff;
    text-decoration: none;
}

footer a:hover {
    text-shadow: 0 0 8px var(--main-blue);
}


/* Main page */
.content {
    align-items: center;
    height: 100vh;
    text-align: center;
}

.sec-1 {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, rgba(13,27,42,0.9), rgba(0, 213, 255, 0.76));
    box-shadow: 0 0 10px rgba(0, 212, 255, 0.5);
}

.sec-1 h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.sec-1 p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.sec-2 {
    width: 60%;
    text-align: center;
    padding: 2rem 0rem;
}

.sec-2 p {
    text-align: justify;
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}