@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --main-blue: #00d4ff;
    --dark-blue: #18324e;
    --red-nav: #f84545;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: radial-gradient(circle at 50%, var(--dark-blue), #000000);
    overflow-x: hidden;
    width: 100%;
}

/* Header */
header {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid var(--dark-blue);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-blue);
    font-weight: bold;
}

nav ul li a:hover {
    text-shadow: 0 0 8px var(--main-blue);
}

.page-select {
    color: var(--red-nav);
    font-weight: bold;
}

.page-select:hover {
    text-shadow: 0 0 8px var(--red-nav);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid var(--dark-blue);
    font-size: 0.9rem;
    color: #ffffff;
}

footer a {
    color: #00d4ff;
    text-decoration: none;
}

footer a:hover {
    text-shadow: 0 0 8px var(--main-blue);
}


/* Main content */
.content {
    align-items: center;
    min-height: 100vh;
    text-align: center;
    z-index: 1;
}

.sec-1 {
    display: flex;
    justify-content: center;
}

.sec-1 a {
    text-decoration: none;
    color: #ffffff;
}

.presentation {
    margin-top: 2rem;
    padding: 2rem;
    background-color:var(--dark-blue);
    border-radius: 4rem;
    box-shadow: 0 0 30px var(--dark-blue);
}

.presentation:hover {
    box-shadow: 0 0 30px var(--main-blue);
    cursor: pointer;
}

.presentation img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 30px var(--main-blue);
}

.sec-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.about-me {
    width: 50%;
}

.about-me p {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.2rem;
    text-align: justify;
}


.masonry-grid {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    column-count: 3; /* Nombre de colonnes */
    column-gap: 1rem;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    max-height: 500px;
}

.masonry-item a {
    color: #fff;
    text-decoration: none;
}

.masonry-item img {
    border-radius: 20px;
    width: 100%;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.masonry-item:hover .overlay {
    opacity: 1;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.skill-box {
    position: relative; /* Set position to relative for absolute positioning of child */
    background-color: var(--dark-blue);
    box-shadow: 0 0 30px var(--dark-blue);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 200px;
    width: calc(33.33% - 20px); /* Adjust width for three columns */
    text-align: center;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.skill-box:hover {
    background-color: var(--main-blue);
    box-shadow: 0 0 10px var(--main-blue);
}

.projects-list {
    position: absolute; /* Position absolutely within the skill box */
    top: 100%; /* Position below the skill box */
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--red-nav);
    max-height: 0; /* Start with max-height of 0 */
    opacity: 0; /* Start with opacity of 0 */
    overflow: hidden; /* Hide overflow */
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Transition for max-height and opacity */
    border-radius: 5px; /* Optional: rounded corners for the project list */
}

.skill-box:hover .projects-list {
    max-height: 100px; /* Set a max-height for the expanded state */
    opacity: 1; /* Fade in */
}